* {
    box-sizing: border-box;
}

body {
    background-color: hsl(230, 100%, 99%);
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: -1000;
    font-family: "Manrope";
}
/* background styles */

.square-thing {
    position: relative;
    border-radius: 0 0 0 100px;
    height: 50%;
    background-color: hsl(224, 65%, 95%);
    z-index: -100;
}

/* card styles */
header {
    background-image: url('./images/pattern-circles.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    border: 1px solid black;
    position: relative;
    top: -50%;
    transform: translateY(50%);
    width: fit-content;
    margin: 0 auto;
}

.card {
    border: 1px solid black;
    width: fit-content;
    margin:0 auto;
    position: relative;
    top: -50%;
    transform: translateY(50%);
    width: 500px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 16px;
}

.pageviews-money { 
    margin-top: 20px ;
}

h3 {
    display: inline-block;
    margin: 0 3rem 0 3rem;
}

h3 #money { 
    float: right;
}

form {
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 auto; 
}

#views-range {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* toggle switch styles */
.switch {
    position: relative;
    top:50%;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.billing {
    width: fit-content;
    margin: 0 auto;
    border: none;
}

h5, .slider{
    display: inline-block;
}